
body {
  background-color: #3a3a3a
}

p, a, h1, h2, h3, h4, 
.navbar-default 
.navbar-brand, 
.navbar-default .navbar-nav > li > a  {
  color: aliceblue
}

.mainView {
  min-height: calc(100vh - 70px);
}

.bottomGap {
  margin-bottom: 2em;
}

.tvSeasons img {
  width: 185px;
  height: 280px;
  margin-bottom: 2em;
}

.tvEpisode img {
  width: 342px;
  height: 192px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: -2px;
}

.fontSizeMid {
  font-size: 18px
}

.navbar-default{
  background-color: #2E7D32;
  border-color: #2E7D32
}

.navbartop {
  margin-bottom: 4.5em;
}

.linkContainer a.active,
a:hover {
  text-decoration: underline;
  color: aliceblue
}

.linkType {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  padding-right: 1em;
}

.linkContainer {
  margin-bottom: 1em
}

.pagerBtn {
  margin-right: 0.5em
}

.details img {
  margin: 1em;
  border-radius: 0.2em;
  width: 100%;
  max-width: 342px;
} 

.footer {
  margin-top: 4em;
}

.footer img{
  max-width: 12em;
}

.not-found {
  text-align: center;
}
